<!DOCTYPE html>
<html lang="en">
    <head>
        {{>headerlinks}}
    </head>
    <body>
       {{>navbar}}
       
         <!-- main header -->
         <div class="containter-fluid main_header">
          <div class="row">
             <!-- left side div -->
             <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="image/about10.png" alt="Attu" class="img-fluid" title="Attu Technical">
                </figure>
               </div>
                  <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h2>I Am Currently pursuing <span class="text_clr"> B-Tech </span> In Computer Science Engineering </h2>
                    <a href="https://www.linkedin.com/in/atefa-rizvi-83ba9b1a0" target="_Attu"><button>about me</button></a>
                  </div>
                   <!-- right side div -->
                  
                    </div>
                    </div>
                </div>
              </div>
           </div>
           <!-- footer code -->

           {{>footer}}
    </body>
</html>